---
---
@import "minima";

.footer-heading {
  display: none !important;
}

.rss-subscribe,
.feed-subscribe {
  display: none !important;
}

.site-nav .menu-icon,
label[for="nav-trigger"] {
  display: none !important;
}